body{
	background: #E9E9E9;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#header, #footer {
	background: #c33c1e;
	color: #fff;
	padding: 17px 0px; 
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

 #footer{
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

 #footer a,  #footer a:visited,  #footer a:hover,  #footer a:focus{
 	color: white;
 } 

#social-media{
	padding: 20px 0 40px 0;
	font-weight: bold;
	text-align: center;
	background: white;
}

#social-media h3{
	margin-bottom: 30px;
}

#social-media img{
	margin: 0 10px;
}

#main{
	margin-top: 50px;
	margin-bottom: 50px;
}

#main-text{
   	font-weight: bold;
    text-align: center;
    color: #6F6F6F;  
}

p{
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.logo{
	margin-bottom: 20px;
}

.btn{
    background: none;
    border-radius: 0;
    margin-top: 30px;
    background-color: #c33c1e;
}

.btn:hover{
	background-color: #E4411D;
}

#main img{
    width: 100%;
}

#main-links{
    margin-left: 0;
    margin-right: 0;
	margin-top: 50px;
	color: white;
}

#main-links h5{
	font-weight: bold;
    text-transform: uppercase;
}

#main-links > div{
    /* background-repeat: no-repeat; */
    height: 150px;
 /*   border: 1px solid #30305A;*/
}

.alfabetizacion-link .fixed{
    padding-top: 5px;
}

#main-links > div:hover {
	cursor: pointer;
}

#main-links > div .movable-left-box .fixed{
    position: absolute; top: 0; right: 0;
}

#main-links > div .movable-right-box .fixed{
    position: absolute; top: 0; left: 0;
}

#main-links > div .movable-left-box svg{
    position: absolute; top: 40%; left: -25px; transform: rotate(180deg);
}

#main-links > div .movable-right-box svg{
    position: absolute; top: 40%; right: -25px; transform: rotate(0);
}

#main-links > div .movable-left-box .movable{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    margin-left: 50%;
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;
}

#main-links > div:hover .movable-left-box .movable{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    margin-left: 0%;
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;
 /*   border-right: 1px solid black;*/
}

#main-links > div .movable-right-box .movable{
    margin-left: 0%;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);    
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;
}

#main-links > div:hover .movable-right-box .movable{
    margin-left: 50%;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);    
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;
}

#main-links > .col-md-6 .movable-up-box{
    height: 100%;
    -moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;
}

#main-links > div:hover svg{
	visibility: hidden;
}

.movable-left-box .movable, .movable-right-box .movable, .movable-up-box .movable, .movable-down-box .movable{
	height: 100%;
	z-index: 10;
}

.cr-logo img{
    max-height: 35px;
}

.container{
	max-width: 1024px;
}

.movable{
    text-align: center;
}

.project-text{
    /*font-family: 'Lucida Grande', cursive;*/
    text-align: center;
    color: #333333;
    font-weight: lighter;
    font-size: 120%;
}

.divider{
    width: 100%;
    height: 50px;
    position: relative;
}

.divider:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 28px solid #fff;
    border-left: 27px solid transparent;
    border-right: 28px solid transparent;
    bottom: -28px;
    left: 50%;
    margin-left: -28px;
    position: absolute;
    z-index: 15;
}

/* Estéticas de color */
.content-body{
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.content-body img{
	width: 100%;
}

.content-body h2{
	text-transform: none;
	text-align: center;
    font-weight: bold;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    text-transform: none;
    margin-bottom: 20px;
    color: #333333;
}

.fixed{
    height: 100%;
    padding-top: 20px;
    text-align: center;
}

.fixed .more{
    padding-top: 10px;
}

.link h5{
    margin-top: 65px;
}

#pre-promocion:after{
    border-top: 28px solid #E9E9E9;
    /*
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #E9E9E9),
        color-stop(1, #B6E4FF)
    );
    background-image: -o-linear-gradient(bottom, #E9E9E9 0%, #B6E4FF 100%);
    background-image: -moz-linear-gradient(bottom, #E9E9E9 0%, #B6E4FF 100%);
    background-image: -webkit-linear-gradient(bottom, #E9E9E9 0%, #B6E4FF 100%);
    background-image: -ms-linear-gradient(bottom, #E9E9E9 0%, #B6E4FF 100%);
    background-image: linear-gradient(to bottom, #E9E9E9 0%, #B6E4FF 100%);*/
}

#pre-infancia{
    background: #35ABBD;
}

#pre-infancia:after{
    border-top: 28px solid #35ABBD;
}

#pre-salud{
    background: #FFC444;
}

#pre-salud:after{
    border-top: 28px solid #FFC444;
}

#pre-violencia{
    background: #f9f7f8;
}

#pre-violencia:after{
    border-top: 28px solid #f9f7f8;
}

#pre-inmigrantes{
    background: #94A4E8;
}

#pre-inmigrantes:after{
    border-top: 28px solid #94A4E8;
}

#pre-social{
    background: #FFC996;
}

#pre-social:after{
    border-top: 28px solid #FFC996;
}

#pre-alfabetizacion{
    background: #FFC996;
}

#pre-alfabetizacion:after{
    border-top: 28px solid #FFC996;
}

#pre-informatica{
    background: #35ABBD;
}

#pre-informatica:after{
    border-top: 28px solid #35ABBD;
}

#pre-salud-constante{
    background: #FFC444;
}

#pre-salud-constante:after{
    border-top: 28px solid #FFC444;
}

#pre-competencias{
    background: #f9f7f8;
}

#pre-competencias:after{
    border-top: 28px solid #f9f7f8;
}

#pre-socorros{
    background: #94A4E8;
}

#pre-socorros:after{
    border-top: 28px solid #94A4E8;
}

#promocion, #alfabetizacion{
    background-color: #35ABBD;
    color: black;
    font-weight: bold;
}

#promocion .embed-responsive,
#socorros .embed-responsive{
	margin-bottom: 20px;
}

.promocion-link, .alfabetizacion-link{
    background: url('promocion-exito.jpg') no-repeat center;
    background-size: cover;
}

.promocion-link polygon,
.alfabetizacion-link polygon{
    fill: #35ABBD;
}

.promocion-link .movable, .promocion-link .fixed,
.alfabetizacion-link .movable, .alfabetizacion-link .fixed{
    color: black;
    background-color:  #35ABBD;
}

#salud, #salud-constante{
    background-color: #f9f7f8;
}

.salud-link{
    background: url('crj-educacion-salud-small.png') no-repeat center right;
}

.salud-link .movable, .salud-link .fixed,
.salud-constante-link .movable, .salud-constante-link .fixed{ 
	color: black;
    background-color: #f9f7f8;
}

.salud-link polygon,
.salud-constante-link polygon{
    fill: #f9f7f8;
}

#violencia,
#competencias{
    background-color: #94A4E8;
}

.violencia-link{
    background: url('crj-prevencion-violencia-small.jpg') no-repeat right top;
    background-size: contain;
}

.violencia-link .movable, .violencia-link .fixed,
.competencias-link .movable, .competencias-link .fixed{ 
	color: black;
    background-color: #94A4E8;
}

.violencia-link polygon,
.competencias-link polygon{
    fill: #94A4E8;
}

#infancia, #informatica{
    background-color: #FFC444;
}

#infancia .btn, #informatica .btn{
    margin-top: 15px;
}

#carousel-example-generic{
    margin-bottom: 20px;
}

.infancia-link .movable, .infancia-link .fixed,
.informatica-link .movable, .informatica-link .fixed{
	color: black;
    background-color: #FFC444;
}

.infancia-link polygon, .informatica-link polygon{
    fill: #FFC444;
}

.infancia-link{
    background: url('infancia-intervencion.jpg') no-repeat top left #FFC444;
    background-size: contain;
}

#inmigrantes, #socorros{
    background-color: #FFC996;
}

.inmigrantes-link .movable, .inmigrantes-link .fixed,
.socorros-link .movable, .socorros-link .fixed{ 
	color: black;
    background-color: #FFC996;
}

.inmigrantes-link{
    background: url('intervencion-cultura-small.jpg') no-repeat center left;
    background-size: contain;
}

.inmigrantes-link polygon, .socorros-link polygon{
    fill: #FFC996;
}

.informatica-link{
    background: url('intervencion-informatica-small.jpg') no-repeat center right;
    background-size: contain;
}

.competencias-link{
    background: url('intervencion-competencias-small.jpg') no-repeat center left #9DB0FF;
    background-size: contain;
}

.alfabetizacion-link{
    background: url('intervencion-alfabetizacion-small.jpg') no-repeat center left;
    background-size: contain;
}

/*
#alfabetizacion{
    background-color: #FFE0E0;
}



.alfabetizacion-link .movable, .alfabetizacion-link .fixed{ 
	color: black;
    background-color: #FFE0E0;
}

.alfabetizacion-link polygon{
    fill: #FFE0E0;
}
*/
/*#salud-constante{
    background-color: #f9f7f8;
}
*/
.salud-constante-link{
    background: url('salud-constante-small.jpg') no-repeat center right white;
    background-size: contain;
}

#salud-constante .project-text, #competencias .project-text{
    margin-top: 70px;
}
/*
.salud-constante-link .movable, .salud-constante-link .fixed{ 
    color: black;
    background-color: #f9f7f8;
}

.salud-constante-link polygon{
    fill: #f9f7f8;
}
*/

.socorros-link{
    background: url('socorros-small.jpg') no-repeat center left #FFC996;
    background-size: contain;
}

#main-links-mobile{
	color: white;
	text-align: center;
}

@media (max-width: 991px) {
	.cr-logo{
	    text-align: center;
	    width: 100%;
	}

	#main{
		margin-top: 20px;
	    margin-bottom: 20px;
	}

	#main-text{
		margin-top: 20px;
	}

    #main-links-mobile{
        margin-top: 20px;
    }

    .divider{
        height: 50px;
    }

	.link{
	    padding-top: 10px;
    	padding-bottom: 10px;
		color: black;
	}

    .link:hover{
        cursor: pointer;
    }

	.link h5{
		margin: 0;
	}

	.promocion-link, .alfabetizacion-link{ 
    	background:  #35ABBD;
	}
	
	.salud-link, .salud-constante-link{ 
	    background: #4761C9;
	}

	.violencia-link, .competencias-link{
    	background: #94A4E8;
	}

	.infancia-link, .informatica-link{ 
	    background: #FFC444;
	}

	.inmigrantes-link, .socorros-link{
    	background: #FFC996;
	}

    #violencia .pull-right{
        margin-bottom: 20px;
    }

    #promocion .embed-responsive, #socorros .embed-responsive {
        margin-bottom: 0;
    }

    #salud-constante .project-text, #competencias .project-text, .project-text{
        margin-top: 20px;
    }

}