body{
	background: #E9E9E9;
}

#header, #footer {
	background: #c33c1e;
	color: #fff;
	padding: 17px 0px; 
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

 #footer{
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

 #footer a,  #footer a:visited,  #footer a:hover,  #footer a:focus{
 	color: white;
 } 

#social-media{
	padding: 20px 0 40px 0;
	font-weight: bold;
	text-align: center;
	background: white;
}

#social-media h3{
	margin-bottom: 30px;
}

#social-media img{
	margin: 0 10px;
}

#main{
	margin-top: 50px;
	margin-bottom: 50px;
}

#main-text{
   	font-weight: bold;
    text-align: center;
    color: #6F6F6F;  
}

p{
    font-family: 'Open Sans';  
}

.logo{
	margin-bottom: 20px;
}

.btn{
    background: none;
    border-radius: 0;
    margin-top: 30px;
    background-color: #c33c1e;
}

.btn:hover{
	background-color: #E4411D;
}

#main img{
    width: 100%;
}

#main-links{
    margin-left: 0;
    margin-right: 0;
	margin-top: 50px;
	color: white;
}

#main-links h5{
	font-weight: bold;
    text-transform: uppercase;
}

#main-links > .col-md-6{
    /* background-repeat: no-repeat; */
    height: 170px;
 /*   border: 1px solid #30305A;*/
}

#main-links > .col-md-6:hover {
	cursor: pointer;
}

#main-links > .col-md-6 .movable-left-box .fixed{
    position: absolute; top: 0; right: 0;
}

#main-links > .col-md-6 .movable-right-box .fixed{
    position: absolute; top: 0; left: 0;
}

#main-links > .col-md-6 .movable-left-box svg{
    position: absolute; top: 40%; left: -25px; transform: rotate(180deg);
}

#main-links > .col-md-6 .movable-right-box svg{
    position: absolute; top: 40%; right: -25px; transform: rotate(0);
}

#main-links > .col-md-6 .movable-left-box .movable{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    margin-left: 50%;
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;
}

#main-links > .col-md-6:hover .movable-left-box .movable{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    margin-left: 0%;
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;
 /*   border-right: 1px solid black;*/
}

#main-links > .col-md-6 .movable-right-box .movable{
    margin-left: 0%;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);    
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;
}

#main-links > .col-md-6:hover .movable-right-box .movable{
    margin-left: 50%;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);    
	-moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;
}

#main-links > .col-md-6 .movable-up-box{
    height: 100%;
    -moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.3s ease-out;  /* IE10 */
    transition: all 0.3s ease-out;
}

#main-links > .col-md-6:hover svg{
	visibility: hidden;
}

.movable-left-box .movable, .movable-right-box .movable, .movable-up-box .movable, .movable-down-box .movable{
	height: 100%;
	z-index: 10;
}

.cr-logo img{
    max-height: 35px;
}

.container{
	max-width: 1024px;
}

.movable{
    text-align: center;
}

.project-text{
    /*font-family: 'Lucida Grande', cursive;*/
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

#salud .project-text, #violencia .project-text{
    margin-top: 30px;
}

.divider{
    width: 100%;
    height: 160px;
}

/* Estéticas de color */
.content-body{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.content-body img{
	width: 100%;
}

.content-body h2{
	text-transform: uppercase;
	text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333333;
}

.fixed{
    height: 100%;
    padding-top: 20px;
    text-align: center;
}

.fixed .more{
    padding-top: 10px;
}

.link h5{
    margin-top: 65px;
}

#pre-promocion{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #E9E9E9),
        color-stop(1, #B6E4FF)
    );
    background-image: -o-linear-gradient(bottom, #E9E9E9 0%, #B6E4FF 100%);
    background-image: -moz-linear-gradient(bottom, #E9E9E9 0%, #B6E4FF 100%);
    background-image: -webkit-linear-gradient(bottom, #E9E9E9 0%, #B6E4FF 100%);
    background-image: -ms-linear-gradient(bottom, #E9E9E9 0%, #B6E4FF 100%);
    background-image: linear-gradient(to bottom, #E9E9E9 0%, #B6E4FF 100%);
}

#pre-infancia{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #B6E4FF),
        color-stop(1, #F7DDBF)
    );
    background-image: -o-linear-gradient(bottom, #B6E4FF 0%, #F7DDBF 100%);
    background-image: -moz-linear-gradient(bottom, #B6E4FF 0%, #F7DDBF 100%);
    background-image: -webkit-linear-gradient(bottom, #B6E4FF 0%, #F7DDBF 100%);
    background-image: -ms-linear-gradient(bottom, #B6E4FF 0%, #F7DDBF 100%);
    background-image: linear-gradient(to bottom, #B6E4FF 0%, #F7DDBF 100%);
}

#pre-salud{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #F7DDBF),
        color-stop(1, #F9F7F8)
    );
    background-image: -o-linear-gradient(bottom, #F7DDBF 0%, #F9F7F8 100%);
    background-image: -moz-linear-gradient(bottom, #F7DDBF 0%, #F9F7F8 100%);
    background-image: -webkit-linear-gradient(bottom, #F7DDBF 0%, #F9F7F8 100%);
    background-image: -ms-linear-gradient(bottom, #F7DDBF 0%, #F9F7F8 100%);
    background-image: linear-gradient(to bottom, #F7DDBF 0%, #F9F7F8 100%);
}

#pre-violencia{
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #F9F7F8),
        color-stop(1, #AAB3DA)
    );
    background-image: -o-linear-gradient(bottom, #F9F7F8 0%, #AAB3DA 100%);
    background-image: -moz-linear-gradient(bottom, #F9F7F8 0%, #AAB3DA 100%);
    background-image: -webkit-linear-gradient(bottom, #F9F7F8 0%, #AAB3DA 100%);
    background-image: -ms-linear-gradient(bottom, #F9F7F8 0%, #AAB3DA 100%);
    background-image: linear-gradient(to bottom, #F9F7F8 0%, #AAB3DA 100%);
}

#pre-social{
    height: 50px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #AAB3DA),
        color-stop(1, #FFFFFF)
    );
    background-image: -o-linear-gradient(bottom, #AAB3DA 0%, #FFFFFF 100%);
    background-image: -moz-linear-gradient(bottom, #AAB3DA 0%, #FFFFFF 100%);
    background-image: -webkit-linear-gradient(bottom, #AAB3DA 0%, #FFFFFF 100%);
    background-image: -ms-linear-gradient(bottom, #AAB3DA 0%, #FFFFFF 100%);
    background-image: linear-gradient(to bottom, #AAB3DA 0%, #FFFFFF 100%);
}

#promocion{
    background-color: #B6E4FF;
    color: black;
    font-weight: bold;
}

#promocion .embed-responsive{
	margin-bottom: 20px;
}

.promocion-link{
    background: url('promocion-exito.jpg') no-repeat center;
    background-size: cover;
}

.promocion-link polygon{
    fill: #B6E4FF;
}

.promocion-link .movable, .promocion-link .fixed{
    color: black;
    background-color:  #B6E4FF;
}

#salud{
    background-color: #f9f7f8;
}

.salud-link{
    background: url('crj-educacion-salud-small.png') no-repeat center right;
}

.salud-link .movable, .salud-link .fixed{ 
	color: black;
    background-color: #f9f7f8;
}

.salud-link polygon{
    fill: #f9f7f8;
}

#violencia{
    background-color: #AAB3DA;
}

.violencia-link{
    background: url('crj-prevencion-violencia-small.png') no-repeat right top;
    background-size: contain;
}

.violencia-link .movable, .violencia-link .fixed{ 
	color: black;
    background-color: #AAB3DA;
}

.violencia-link polygon{
    fill: #AAB3DA;
}

#infancia{
    background-color: #F7DDBF;
}

#infancia .btn{
    margin-top: 15px;
}

#carousel-example-generic{
    margin-bottom: 20px;
}

.infancia-link .movable, .infancia-link .fixed{
	color: black;
    background-color: #F7DDBF;
}

.infancia-link polygon{
    fill: #F7DDBF;
}

.infancia-link{
    background: url('infancia-intervencion.jpg') no-repeat top left white;
    background-size: contain;
}

#inmigrantes{
    background-color: #E0F1FF;
}

.inmigrantes-link .movable, .inmigrantes-link .fixed{ 
	color: black;
    background-color: #E0F1FF;
}

.inmigrantes-link{
    background: url('intervencion-cultura-small.jpg') no-repeat center left;
    background-size: contain;
}

.inmigrantes-link polygon{
    fill: #E0F1FF;
}

#informatica{
    background-color: #E0F1FF;
}

.informatica-link .movable, .informatica-link .fixed{ 
    color: black;
    background-color: #E0F1FF;
}

.informatica-link{
    background: url('intervencion-informatica-small.jpg') no-repeat center right;
    background-size: contain;
}

.informatica-link polygon{
    fill: #E0F1FF;
}


#competencias{
    background-color: #E0F1FF;
}

.competencias-link .movable, .competencias-link .fixed{ 
    color: black;
    background-color: #E0F1FF;
}

.competencias-link{
    background: url('intervencion-competencias-small.jpg') no-repeat center right;
    background-size: contain;
}

.competencias-link polygon{
    fill: #E0F1FF;
}

#alfabetizacion{
    background-color: #FFE0E0;
}

.alfabetizacion-link{
    background: url('intervencion-alfabetizacion-small.jpg') no-repeat center left;
    background-size: contain;
}

.alfabetizacion-link .movable, .alfabetizacion-link .fixed{ 
	color: black;
    background-color: #FFE0E0;
}

.alfabetizacion-link polygon{
    fill: #FFE0E0;
}

#salud-constante{
    background-color: #FFE0E0;
}

.salud-constante-link{
    background: url('salud-constante-small.png') no-repeat center left white;
    background-size: contain;
}

.salud-constante-link .movable, .salud-constante-link .fixed{ 
    color: black;
    background-color: #FFE0E0;
}

.salud-constante-link polygon{
    fill: #FFE0E0;
}

#main-links-mobile{
	color: white;
	text-align: center;
}

@media (max-width: 991px) {
	.cr-logo{
	    text-align: center;
	    width: 100%;
	}

	#main{
		margin-top: 20px;
	    margin-bottom: 20px;
	}

	#main-text{
		margin-top: 20px;
	}

    #main-links-mobile{
        margin-top: 20px;
    }

    .divider{
        height: 50px;
    }

	.link{
	    padding-top: 10px;
    	padding-bottom: 10px;
		color: black;
	}

    .link:hover{
        cursor: pointer;
    }

	.link h5{
		margin: 0;
	}

	.promocion-link{ 
    	background:  #B6E4FF;
	}
	
	.salud-link{ 
	    background: #f9f7f8;
	}

	.violencia-link{
    	background: #AAB3DA;
	}

	.infancia-link{ 
	    background: #F7DDBF;
	}

	.inmigrantes-link{
    	background: #E0F1FF;
	}

	.alfabetizacion-link{
    	background: #FFE0E0;
	}

    .informatica-link{
        background: #FFE0E0;
    }

    .competencias-link{
        background: #FFE0E0;
    }        

    #violencia .pull-right{
        margin-bottom: 20px;
    }

}